angel-cd==1.0.3
appdirs==1.4.4
bimlpa==0.1.2
cdlib==0.2.6
certifi==2021.10.8
charset-normalizer==2.0.12
chinese-whispers==0.8.0
cycler==0.11.0
Cython==0.29.28
decorator==5.1.1
demon==2.0.6
dynetx==0.3.1
eva-lcd==0.1.1
fonttools==4.33.3
future==0.18.2
idna==3.3
igraph==0.9.10
joblib==1.1.0
kiwisolver==1.4.2
markov-clustering==0.0.6.dev0
matplotlib==3.5.1
networkx==2.8
nf1==0.0.4
numpy==1.22.3
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
pooch==1.6.0
PuLP==2.6.0
pyclustering==0.10.1.2
pyparsing==3.0.8
python-dateutil==2.8.2
python-igraph==0.9.10
python-Levenshtein==0.12.2
python-louvain==0.16
pytz==2022.1
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
six==1.16.0
texttable==1.6.4
threadpoolctl==3.1.0
thresholdclustering==1.1
tqdm==4.64.0
urllib3==1.26.9
